*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
body {
    background-color: azure;
    color: white;
    font-family: "Century Gothic";

    /*
    background-color: blueviolet;
    */
}
.banner{
    Width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(baggrund.jpg);
    background-size: cover;
    background-position: center;
}

.Container{
    display:grid;
    height: 100vh;
    grid-template-columns: 10fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-gap: 0.1rem;
    grid-template-areas:
            "nav"
            "main"
            "footer"
}

nav{
    grid-area:nav;
    width: 100%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-style: outset;
    border-color: dodgerblue;
/*
    background-color: chartreuse;
 */
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 90px;
}

nav ul li a{
    color: white;
    text-transform: uppercase;
    font-family: "Baloo Thambi 2";
}

.main{
    margin: auto;
    grid-area: main;
    /*border: 1px solid black;*/
   /*background-color: brown;*/
}
.maindiv{
    padding-top: 100px;
    padding-button: 100px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 20px;
}
footer{
    grid-area: footer;
    border-style: solid none none none;
    border-color: darkblue;
}

h1 {text-align: center;}

.paddingdiv {
    border: 0px solid black;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 80px;
}
.custom-select1{
    border: 0px solid black;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 80px;
}
.custom-select2{
    border: 0px solid black;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 80px;
}
.notat{
    border: 0px solid black;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 80px;
}
.button {
    border: none;
    color: black;
    padding: 10px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: "Baloo Thambi 2";
    text-transform: full-size-kana;
    margin: 5px 2px;
    cursor: pointer;
    background-color: dodgerblue;
    border: 4px solid white; /* Green */
}
